force-app/main/default/flows/Add_Lead_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DRC_NBC_MultiSelect_Picklist_Values</name>
        <label>DRC NBC MultiSelect Picklist Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DRC_NBC_MultiSelect_Picklist_Values</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_Selected_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Lead_Products</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DRC_NBC_MultiSelect_Picklist_Values</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_in_leadproducts_to_insert</name>
        <label>add in leadproducts to insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lead_products_to_insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Selected_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Selected_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_in_unique_lst</name>
        <label>add in unique lst</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>uniqueleadproducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Selected_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Selected_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_lead_product</name>
        <label>assign new lead product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadprod_Record.DRC_NBC_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadprod_Record.DRC_NBC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lead_productstoinsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_products_insert_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadprod_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_lead_productstoinsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create Lead Product Default Formula</description>
        <name>Create_Lead_Product_Default_Formula</name>
        <label>Create Lead Product Default Formula</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Default_Lead_Product_Choices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead_Products_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Existing_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ExistingRecord Display</description>
        <name>ExistingRecord_Display</name>
        <label>ExistingRecord Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Existing_Lead_Products_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Existing_lead_Products.DRC_NBC_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Products_Display_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead_Products_Display_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Records</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Lead_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Existing_lead_Products</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>check unique</description>
        <name>check_unique</name>
        <label>check unique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_Selected_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_rec_to_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DRC_NBC_MultiSelect_Picklist_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_in_leadproducts_to_insert</targetReference>
            </connector>
            <label>has rec to insert</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DRC_NBC_MultiSelect_Picklist_Values</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Lead_Products_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_in_unique_lst</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_lead_products_to_insert</name>
        <label>has lead products to insert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lead_products_insert_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_lead_products</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>removed</name>
        <label>removed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_lead_productstoinsert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lead_products_removed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_lead_prods</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>lead_Products_2</name>
        <collectionReference>get_Product_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Lead_Products_ID</name>
        <dataType>String</dataType>
        <expression>{!loop_Existing_Ids} &amp; &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Add Lead product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Lead product</label>
    <loops>
        <description>loop Existing Ids</description>
        <name>loop_Existing_Ids</name>
        <label>loop Existing Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Existing_Lead_Products_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Lead_Product_Default_Formula</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Lead_Prod_Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop Existing lead Products</description>
        <name>loop_Existing_lead_Products</name>
        <label>loop Existing lead Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Existing_Lead_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExistingRecord_Display</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Existing_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_lead_productstoinsert</name>
        <label>loop lead productstoinsert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>lead_products_to_insert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_new_lead_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>has_lead_products_to_insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop Selected Record</description>
        <name>loop_Selected_Record</name>
        <label>loop Selected Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>DRC_NBC_MultiSelect_Picklist_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>lead_products_removed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_lead_products</name>
        <label>create lead products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>lead_products_insert_collection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_lead_prods</name>
        <label>delete lead prods</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_lead_productstoinsert</targetReference>
        </connector>
        <inputReference>lead_products_removed</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>get Existing Lead Products</description>
        <name>get_Existing_Lead_Products</name>
        <label>get Existing Lead Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Lead_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DRC_NBC_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DRC_NBC_Lead_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_record</name>
        <label>get Lead record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Existing_lead_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Product_Records</name>
        <label>get Product Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Existing_Lead_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lead_products_removed</name>
        <label>lead products removed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>removed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DRC_NBC_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DRC_NBC_Product__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>uniqueleadproducts</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DRC_NBC_Lead_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>add_More_Lead_Products</name>
        <label>add More Lead Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>DRC_NBC_MultiSelect_Picklist_Values</targetReference>
        </connector>
        <fields>
            <name>Lead_Products</name>
            <choiceReferences>lead_Products_2</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Default_Lead_Product_Choices</elementReference>
            </defaultValue>
            <fieldText>Lead Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Lead_Prod_Display</name>
        <label>Existing_Lead_Prod_Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>add_More_Lead_Products</targetReference>
        </connector>
        <fields>
            <name>Leaad_Product_Display</name>
            <fieldText>&lt;p&gt;&amp;nbsp;&lt;strong&gt;Chemistry(s) interested in&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lead_Displaying_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Lead_Products_Display_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Other_product_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Other Chemistry/Products&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>bottom</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Records.DRC_NBC_Others_Custom_Product__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_product</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;{!Lead_Records.DRC_NBC_Others_Custom_Product__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Records.DRC_NBC_Others_Custom_Product__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add/Update Lead Products</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Product_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Lead_Products_Display_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;ul style=&quot;margin:0; padding-left: 16px;&quot;&gt;
  &lt;li style=&quot;margin-bottom: 4px;&quot;&gt;{!loop_Existing_lead_Products.DRC_NBC_Product__r.Name}&lt;/li&gt;
&lt;/ul&gt;

&lt;br/&gt;&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>Default_Lead_Product_Choices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Lead_Products_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Products_Display_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lead_products_insert_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DRC_NBC_Lead_Product__c</objectType>
    </variables>
    <variables>
        <name>lead_products_to_insert</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadprod_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DRC_NBC_Lead_Product__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uniqueleadproducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
