force-app/main/default/flows/DRC_NBC_Clone_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RedirectToQuote</name>
        <label>RedirectToQuote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:redirectToQuote</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirectToQuote</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clone_Quote1</name>
        <label>Clone Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>New_Quote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_for_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Quote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Quote_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Quote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Quote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Quote.DRC_NBC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Record.DRC_NBC_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Related_QLI</name>
        <label>Clone Related QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QL_items.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.Subtotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.DRC_NBC_Unit_Of_Measurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.DRC_NBC_Unit_Of_Measurement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL_items.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Quote_Line_Item.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_QLIs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Instance_for_new_Quote</name>
        <label>New Instance for new Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>New_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Quote1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Quote Id</description>
        <name>Store_Quote_Id</name>
        <label>Store Quote Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>account_records_choice_set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>opportunity_ReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Select_Customer.selectedChoiceLabels}==null, true, false)</expression>
    </formulas>
    <formulas>
        <name>quoteName_ReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Select_Customer.selectedChoiceLabels}==null || {!New_Opportunity_Name}==null, true, false)</expression>
    </formulas>
    <interviewLabel>DRC NBC Clone Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DRC NBC Clone Quote</label>
    <loops>
        <name>Loop_Over_Quote_Line_Item</name>
        <label>Loop Over Quote Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Related_QLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Clone_Related_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Opportunity for Account</description>
        <name>Create_Opportunity_for_Account</name>
        <label>Create Opportunity for Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Instance_for_new_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Select_Customer.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Quote_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Clone_Related_QLI</name>
        <label>Create Quote Clone Related QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RedirectToQuote</targetReference>
        </connector>
        <inputReference>New_QLIs_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create New Quote</description>
        <name>CreateNewQuote</name>
        <label>Create New Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Quote_Id</targetReference>
        </connector>
        <inputReference>New_Quote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Customer.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_QLI</name>
        <label>Get Related QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Quote</name>
        <label>Clone Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Customer</name>
            <choiceReferences>account_records_choice_set</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Customer</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>New Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>opportunity_ReadOnly</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Quote_Name</name>
            <dataType>String</dataType>
            <fieldText>New Quote Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>quoteName_ReadOnly</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Clone</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>New_QLIs_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>New_Quote</description>
        <name>New_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QL_items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
