force-app/main/default/flows/Update_Leads_Intrested_Chemistry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DRC_NBC_MultiSelect_Picklist_Values</name>
        <label>DRC NBC MultiSelect Picklist Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DRC_NBC_MultiSelect_Picklist_Values</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_value_of_Lead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Select_More_Intrested_Chemistry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DRC_NBC_MultiSelect_Picklist_Values</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_value_of_Lead</name>
        <label>Update value of Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DRC_NBC_LeadInterestedChemistry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>chosenValues</name>
            <value>
                <elementReference>Select_More_Intrested_Chemistry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>leadrecordid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DRC_NBC_LeadInterestedChemistry</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigment</name>
        <label>Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Default_intrested_Chemistry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loops.DRC_NBC_Interested_chemistry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loops</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>MultipleIntrestedchemistry</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DRC_NBC_Interested_chemistry__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update Leads Intrested Chemistry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DRC_NBC_Update_Leads_Intrested_Chemistry</label>
    <loops>
        <name>loops</name>
        <label>loops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Lead_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Other_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Lead_Record</name>
        <label>get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadrecordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DRC_NBC_Interested_chemistry__c</queriedFields>
        <queriedFields>DRC_NBC_Others_Custom_Product__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>extra_intrested_chemistry</name>
        <label>Add more intrested chemistry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>DRC_NBC_MultiSelect_Picklist_Values</targetReference>
        </connector>
        <fields>
            <name>Select_More_Intrested_Chemistry</name>
            <choiceReferences>MultipleIntrestedchemistry</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Default_intrested_Chemistry</elementReference>
            </defaultValue>
            <fieldText>Select More Intrested Chemistry</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_product</name>
        <label>Other_product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>extra_intrested_chemistry</targetReference>
        </connector>
        <fields>
            <name>Leaad_Chemitstry_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&amp;nbsp;Chemistry(s) &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;interested in&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Products_Of_Interest12</name>
            <extensionName>c:drcNBC_InterestedChemistryDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>chemistryValue</name>
                <value>
                    <elementReference>LeadRecord.DRC_NBC_Interested_chemistry__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Other_product_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Other Chemistry/Products&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LeadRecord.DRC_NBC_Others_Custom_Product__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_products</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;{!LeadRecord.DRC_NBC_Others_Custom_Product__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LeadRecord.DRC_NBC_Others_Custom_Product__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add/Update More Chemistries</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Lead_Products_Display_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;ul style=&quot;margin: 0; padding-left: 16px;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;lt;li style=&quot;margin-bottom: 4px;&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{!REPLACETEXT(LeadRecord.DRC_NBC_Interested_chemistry__c, &quot;;&quot;, &quot;&amp;lt;/li&amp;gt;&amp;lt;li style=&apos;margin-bottom: 4px;&apos;&amp;gt;&quot;)}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;lt;/li&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/ul&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Default_intrested_Chemistry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadrecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uniq</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>updateUniqueLeadvalue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
